<div class="search_item" id="<%= comic.id %>">
  <div class="border_box">

    <img class="" src="<%= comic.thumbnail_img %>">

    <%= comic.title %>
    <%= comic.issue_number %>
    <%= comic.onsale_date_year %>
    <%= comic.thumbnail %>


  </div>
</div>