<div class="comics">

  <header id="custom-nav" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="row">
        <img src="<%= image_path('marvel_logo') %>" alt="" id="logo">
      </div>

      <div class="search-area row" style="align-content: center">

        <%= form_tag(root_path, method: 'get', id: 'comics-search-form', role: 'search', class: 'character-search', remote: true) do %>

            <div class="ui-widget">

              <%= search_field(:search, :name,
                               class: 'form-control', id: 'character-name', role: 'main-search',
                               placeholder: t('page.comics.search_placeholder'),
                               maxlength: 40, size: 40,
                  ) %>
              <input type="hidden" id="character-id" name="character_id" value="<%=params[:character_id]%>">
              <input type="hidden" id="page" name="page" value="1>">
              <div class="results" id="character-search-results"></div>

            </div>

            <div class="">
                <%= submit_tag(t('page.comics.search_comic'), class: 'btn btn-default hidden') %>
            </div>
        <% end %>

      </div>
    </div>
  </header>
  <div class="comics-list-container">

    <%= render partial: '/comics/partials/comics', locals: {comics: @comics, page: @page, last_page: @last_page } %>

  </div>

</div>

