
<h1><%= t('page.comics.title')%></h1>
<p><%= t('page.comics.sub_title')%></p>

<div class="search-area xperiences-search-container">

    <%= form_tag(root_path, method: 'get', id: 'comics-search-form',role: 'search', class:'character-search', remote: false ) do %>

          <div class="">
            <%= search_field(:search, :name, class: "form-main", role: 'main-search', placeholder: "Search") %>
          </div>

          <div class="">
              <%= submit_tag(t('page.comics.search_comic') , class: 'btn btn-default' )%>
          </div>
    <% end %>

</div>

<% if @comics.present? %>
  <div class="comics-list-container">
    <% @comics.each do |comic| %>
     <%= render partial: '/comics/partials/comic', locals: {comic: comic }%>
    <% end -%>
  </div>
    <%= @comics.as_json %>
<% else %>
    <%= t('page.comics.no_results') %>
<% end -%>


